<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>London Gallery</title>
    </head>
    <body>
        <div id="gallery_container">
            <div id="gallery_interface">
                <a id="gallery_title" href="../main/index.html">London Gallery</a>
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img1.png" alt="london_img1">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img2.jpg" alt="london_img2">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img3.jpg" alt="london_img3">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img4.jpg" alt="london_img4">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img5.jpg" alt="london_img5">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img6.jfif" alt="london_img6">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img7.jfif" alt="london_img7">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img8.jfif" alt="london_img8">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img9.jpg" alt="london_img9">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img10.jfif" alt="london_img10">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img11.jpg" alt="london_img11">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img12.jfif" alt="london_img12">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img14.jfif" alt="london_img14">
                <img unselectable="on" class="gallery_image unselectable" src="../assets/gallery/img13.jpg" alt="london_img13">
            </div>
        </div>
        <div id="gallery_imagePreview">
            <img unselectable="on" id="gallery_imagePreview_image" class="unselectable" alt="image" src="none">
        </div>
        <script type="text/javascript" src="./galleryScript.js"></script>
    </body>
</html>