html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-image: url(../assets/london.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#gallery_container {
    height: 100%;
    background: hsla(0, 0%, 15%, .4);
    overflow: scroll;
}

#gallery_interface {
    height: auto;
    margin: 10% 5%;
    padding: 2%;
    background: hsl(0, 0%, 15%);
    border-top: 5px solid hsl(0, 0%, 20%);
    border-right: 5px solid hsl(0, 0%, 30%);
    border-bottom: 5px solid hsl(0, 0%, 30%);
    border-left: 5px solid hsl(0, 0%, 20%);
    border-radius: 75px;
}

#gallery_title {
    font-family: "Spectral", cursive, sans-serif;
    display: block;
    text-decoration: none;
    margin-bottom: 1%;
    color: white;
    font-size: 225%;
    font-weight: bold;
    text-align: center;
}
#gallery_title:visited {
    color: white;
}
#gallery_title:hover {
    text-decoration: underline;
}

.gallery_image {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 1%;
    border-radius: 10%;
    border-top: 5px solid hsl(200, 100%, 35%);
    border-right: 5px solid hsl(200, 100%, 50%);
    border-bottom: 5px solid hsl(200, 100%, 50%);
    border-left: 5px solid hsl(200, 100%, 35%);
    cursor: pointer;
}

#gallery_imagePreview {
    background: hsla(0, 0%, 15%, .8);
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    transition: .5s;
}

#gallery_imagePreview_image {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
}

.unselectable {
    /*noinspection CssInvalidPropertyValue*/
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}