<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>England Map</title>
    </head>
    <body>
        <div id="map_container">
            <img id="map_london" src="../assets/london_mao.jpg" usemap="#london-map" alt="london_map">
            <map name="london-map">
                <area alt="Inverness" title="Inverness" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="233,166,51" shape="circle">
                <area alt="Aberdeen" title="Aberdeen" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="376,197,49" shape="circle">
                <area alt="Glasgow" title="Glasgow" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="231,269,44" shape="circle">
                <area alt="Edinburgh" title="Edinburgh" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="312,313,49" shape="circle">
                <area alt="Belfast"  title="Belfast" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="104,414,42" shape="circle">
                <area alt="Liverpool" title="Liverpool" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="267,525,43" shape="circle">
                <area alt="Ipswich" title="Ipswich" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="496,645,589,675" shape="rect">
                <area alt="Dover" title="Dover" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="483,744,569,779" shape="rect">
                <area alt="Middlesbrough" title="Middlesbrough" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="324,384,506,441" shape="rect">
                <area alt="Cardiff" title="Cardiff" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="278,714,38" shape="circle">
                <area alt="Exeter" title="Exeter" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="265,797,34" shape="circle">
                <area alt="York" title="York" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="385,455,448,488" shape="rect">
                <area alt="Leeds" title="Leeds" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="325,494,399,520" shape="rect">
                <area alt="Manchester" title="Manchester" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="355,529,485,560" shape="rect">
                <area alt="Nottingham" title="Nottingham" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="357,568,503,602" shape="rect">
                <area alt="Birmingham" title="Birmingham" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="249,604,380,639" shape="rect">
                <area alt="Southampton" title="Southampton" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="333,760,477,800" shape="rect">
                <area alt="Bristol" title="Bristol" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="333,723,421,757" shape="rect">
                <area alt="Oxford" title="Oxford" href="http://info.cern.ch/hypertext/WWW/TheProject.html" coords="379,680,455,717" shape="rect">
                <area alt="London" title="London" href="../main/index.html" coords="459,682,592,733" shape="rect">
            </map>
        </div>
    </body>
</html>