<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>London</title>
    </head>
    <body>
        <div id="main_container">
            <div id="main_textContainer">
                <div id="main_textContainer_title">London</div>
                <div id="main_textContainer_inner">
                    London is the capital and largest city of England and the <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="main_link">United Kingdom</a>, and is the largest urban area in <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="main_link">Greater London</a>. <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="main_link">The River Thames</a> travels through the city.<br><br>
                    London is the biggest city in western Europe, and the world's largest financial centre.<br><br>
                    London is about 2000 years old, founded by the Romans - called <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="main_link">Londinium</a> by the Romans. For a long time, London was a small city, all its people lived inside the walls that were built by the Romans. This area is still called the <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="main_link">City of London</a>. There were many villages around the city which gradually joined into one huge city.<br><br>
                    London is one of the world's most important cities for business, finance, politics, culture, media, entertainment, fashion and art.
                </div>
            </div>
            <div id="main_nav">
                <div id="main_nav_list">
                    <a href="../map/index.html" class="main_nav_link">England Map</a>
                    <a href="../gallery/index.html" class="main_nav_link">London Gallery</a>
                </div>
                <div id="main_panorama"></div>
                <script type="text/javascript" src="panoramaScript.js"></script>
            </div>
        </div>
    </body>
</html>